{%- unless request.design_mode -%}
	<preload-screen class="preload-screen pos-fixed top-0 left-0 w-100v h-100v d-flex a-i-center j-c-center o-h e-none no-js-hidden{% if settings.enable_preloading_screen %} d-block{% else %} hidden{% endif %}"
		style="
			--color-foreground: {{ settings.icon_preloading_screen.red }}, {{ settings.icon_preloading_screen.green }}, {{ settings.icon_preloading_screen.blue }};
			--color-background: {{ settings.background_preloading_screen.red }}, {{ settings.background_preloading_screen.green }}, {{ settings.background_preloading_screen.blue }};
			--gradient-background: {% if settings.background_gradient_preloading_screen != blank %}{{ settings.background_gradient_preloading_screen }}{% else %}{{ settings.background_preloading_screen }}{% endif %};
		"
	>
		<span class="loading-bar d-block pos-relative o-h"></span>
	</preload-screen>
{%- endunless -%}