<style>
    .before-you-leave {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 30px);
        max-width: 994px;
        max-height: 85vh;
        box-shadow: var(--buttons-shadow-horizontal-offset) var(--buttons-shadow-vertical-offset) var(--buttons-shadow-blur-radius) rgba(var(--color-shadow),var(--buttons-shadow-opacity));
    }

    .before-you-leave::after {
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 200%;
        height: 200%;
        display: block;
        flex-shrink: 0;
        background: var(--background);
        transform: rotate(225deg);
        filter: blur(50px);
        z-index: 2;
    }

    .before-you-leave__show .before-you-leave::after {
        animation: overlaySlide 2s ease forwards;
        animation-delay: var(--duration-default);
    }

    @keyframes overlaySlide {
        0 {
            transform: rotate(225deg) translate(0);
        }
        100% {
            transform: rotate(225deg) translate(-100%);
        }
    }

    .before-you-leave__wrapper {
        position: relative;
        height: 100%;
        opacity: 0;
        transition: opacity 0.01s ease;
        transition-delay: 1.5s;
        flex-direction: column;
    }

    .before-you-leave__show .before-you-leave__wrapper {
        opacity: 1;
    }

    .before-you-leave__img {
        width: 100%;
    }

    .before-you-leave__img .media {
        height: 100%;
        padding-bottom: 20vh;
    }

    .before-you-leave__content {
        width: 100%;
        padding: 25px 30px;
        overflow-x: hidden;
        overflow-y: auto;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
        max-height: 65vh;
        background: var(--background);
    }

    .before-you-leave__heading {
        margin: 0 0 10px 0;
    }

    .before-you-leave__description {
        font-size: calc(var(--font-body-size) - 2px);
        margin: 0 0 25px 0;
    }

    .before-you-leave__product {
        width: 100%;
    }

    .before-you-leave__button {
        margin-top: 25px;
    }

    .before-you-leave__close {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    @media screen and (min-width: 750px) {
        .before-you-leave {
            max-height: 605px;
        }

        .before-you-leave__wrapper {
            flex-direction: row;
        }

        .before-you-leave__img {
            width: 50%;
        }

        .before-you-leave__img .media {
            padding-bottom: var(--pad-bottom);
        }

        .before-you-leave__content {
            width: 50%;
            padding: 25px 35px;
            max-height: 605px;
        }
    }

    @media screen and (min-width: 990px) {
        .before-you-leave__content {
            padding: 30px 75px;
        }

        .before-you-leave__product {
            padding: 0 10px;
        }

        .before-you-leave__close {
            top: 20px;
            right: 20px;
        }
    }
</style>

<side-drawer class="drawer pos-fixed top-0 left-0 z-index-8 w-100v h-100 d-flex a-i-end j-c-end" data-moved="true" id="Popup-Newsletter-{{ section.id }}">
    <div id="Drawer-Overlay-Before-You-Leave-{{ section.id }}" class="drawer__overlay pos-fixed top-0 left-0 right-0 bottom-0 c-pointer"></div>
    <before-you-leave class="before-you-leave pos-absolute h-auto o-h z-index-2 no-js-hidden d-block" data-time="{{ section.settings.show_after }}" style="--background: {{ section.settings.background }}">
        <div class="before-you-leave__wrapper d-flex gradient">
            <div class="before-you-leave__img">
                {%- assign image = section.settings.image -%}
                <div class="media pos-relative o-h" style="--pad-bottom: {% if image != blank %}{{ 1 | divided_by: image.aspect_ratio | times: 100 }}{% else %}100{% endif %}%;">
                    {%- if image != blank -%}
                        <img
                            srcset="{%- if image.width >= 165 -%}{{ image | image_url: width: 165 }} 165w{%- endif -%}
                            {%- if image.width >= 375 -%},{{ image | image_url: width: 375 }} 375w{%- endif -%}
                            {%- if image.width >= 550 -%},{{ image | image_url: width: 550 }} 550w{%- endif -%}
                            {%- if image.width >= 750 -%},{{ image | image_url: width: 750 }} 750w{%- endif -%}
                            {%- if image.width >= 1100 -%},{{ image | image_url: width: 1100 }} 1100w{%- endif -%}
                            {%- if image.width >= 1500 -%},{{ image | image_url: width: 1500 }} 1500w{%- endif -%},
                            {{ image | image_url }} {{ image.width }}w"
                            class="w-100 h-100 o-f-cover motion-reduce"
                            src="{{ image | image_url: width: 1500 }}"
                            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                            alt="{{ image.alt | escape }}"
                            loading="lazy"
                            width="{{ image.width }}"
                            height="{{ image.height }}"
                        />
                    {%- else -%}
                        {{ 'product-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
                    {%- endif -%}
                </div>
            </div>
            <div class="before-you-leave__content scrollbar-thin d-flex f-column a-i-center cus-scrollbar color-{{ section.settings.color_scheme }} gradient">
                <h3 class="before-you-leave__heading">{{ section.settings.heading }}</h3>
                <p class="before-you-leave__description center">{{ section.settings.description }}</p>
                <div class="before-you-leave__product">
                    <div class="item-product">
                        {% render 'card-product',
                            card_product: section.settings.product,
                            media_aspect_ratio: settings.card_image_ratio,
                            show_secondary_image: settings.show_secondary_image,
                            show_vendor: settings.show_vendor_product,
                            show_vendor_mobile: settings.show_vendor_mobile,
                            show_rating: settings.show_rating_product,
                            show_rating_mobile: settings.show_rating_mobile,
                            show_quick_add: settings.enable_quick_add,
                            show_quick_add_mobile: settings.enable_quick_add_mobile,
                            show_swatch: settings.show_swatch,
                            show_swatch_mobile: settings.show_swatch_mobile,
                            show_wishlist: settings.show_wishlist,
                            show_wishlist_mobile: settings.show_wishlist_mobile,
                            card_button_text_size: settings.card_button_text_size,
                            card_button_type: 'default',
                            card_button_transform: settings.card_button_transform,
                            index: 1,
                            section_id: section.id,
                            check_color: true,
                            class_card: ' data__media-hover'
                        %}
                    </div>
                </div>
                {%- if section.settings.button_label != blank -%}
                    <a{% if section.settings.button_link != blank %} href="{{ section.settings.button_link }}"{% else %} role="link" aria-disabled="true"{% endif %} 
                        class="before-you-leave__button button button--main-standard {{ settings.button_style | prepend: 'button--style-' }}"
                    >
                        <span class="text">{{ section.settings.button_label }}</span>
                    </a>
                {%- endif -%}
            </div>
            <button class="before-you-leave__close drawer__close d-block t-button b-none c-pointer b-circle button--close" type="button" aria-label="Close Section Before You Leave">
                <span class="i__close e-none d-block pos-relative color-current w-100 h-100"></span>
            </button>
        </div>
    </before-you-leave>
</side-drawer>

{%- liquid
    assign files = 'before-you-leave.js'
    assign files = files | split: ', '
    render 'theme-loader', files: files
-%}

{% schema %}
{
    "name": "t:sections.before-you-leave.name",
    "tag": "section",
    "class": "section-before-you-leave d-none",
    "limit": 1,
    "enabled_on": {
        "groups": ["custom.popup"]
    },
    "settings": [
    {
        "type": "image_picker",
        "id": "image",
        "label": "t:sections.before-you-leave.settings.image.label"
    },
    {
        "type": "text",
        "id": "heading",
        "label": "t:sections.before-you-leave.settings.heading.label",
        "default": "BEFORE YOU LEAVE"
    },
    {
        "type": "inline_richtext",
        "id": "description",
        "label": "t:sections.before-you-leave.settings.description.label",
        "default": "TAKE 20% OFF YOUR FIRST ORDER BY \"COCE20\""
    },
    {
        "type": "product",
        "id": "product",
        "label": "t:sections.before-you-leave.settings.product.label"
    },
    {
        "type": "text",
        "id": "button_label",
        "default": "Button label",
        "label": "t:sections.all.button_label.label"
    },
    {
        "type": "url",
        "id": "button_link",
        "label": "t:sections.all.button_link.label"
    },
    {
        "type": "range",
        "id": "show_after",
        "label": "t:sections.before-you-leave.settings.show_after.label",
        "min": 0.5,
        "max": 50,
        "step": 0.5,
        "unit": "t:sections.before-you-leave.settings.show_after.unit",
        "default": 5
    },
    {
        "type": "color_background",
        "id": "background",
        "label": "t:sections.before-you-leave.settings.background.label",
        "default": "linear-gradient(260deg, rgba(248, 222, 229, 1) 34.38%, rgba(235, 240, 242, 1) 100%)"
    },
    {
        "type": "header",
        "content": "t:sections.all.colors.section_color"
    },
    {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "background-1"
    }],
    "presets": [
    {
        "name": "t:sections.before-you-leave.presets.name"
    }]
}
{% endschema %}