{%- if section.blocks.size > 0 -%}
  {%- liquid
    assign highest_ratio = 1
    for block in section.blocks
      if block.settings.image.aspect_ratio > highest_ratio
        assign highest_ratio = block.settings.image.aspect_ratio
      endif
    endfor
    assign has_header_section = false
    if section.settings.heading != blank or section.settings.text != blank
      assign has_header_section = true
    endif
    capture icon_arrow_list
      render 'icon-arrow-list'
    endcapture
  -%}
  <div class="section__f-images spacing spacing-xs color-{{ section.settings.color_scheme }} gradient"
    style="--padding-top: {{ section.settings.padding_top }}px;
    --padding-bottom: {{ section.settings.padding_bottom }}px;
    --padding-top-xs: {{ section.settings.padding_top_mobile }}px;
    --padding-bottom-xs: {{ section.settings.padding_bottom_mobile }}px;
    {% if section.settings.use_custom_color %}
    --color-foreground: {{ section.settings.colors_text.red }}, {{ section.settings.colors_text.green }}, {{ section.settings.colors_text.blue }};
    --color-background: {{ section.settings.colors_background.red }}, {{ section.settings.colors_background.green }}, {{ section.settings.colors_background.blue }};
    --gradient-background: {% if section.settings.gradient_background != blank %}{{ section.settings.gradient_background }}{% else %}{{ section.settings.colors_background }}{% endif %};
    {% endif %}"
  >
    <div class="page-width m-auto{% if has_header_section %} p-w_col p-w_col--lg{% endif %} o-h" style="--page-width: 180rem;">
      {%- if has_header_section -%}
        <div class="p-w__header d-flex a-i-{{ section.settings.heading_alignment }}">
          <div class="p-w__header--wrapper z-index-1{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
            {%- if section.settings.heading != blank -%}
              <h2 id="SectionHeading-{{ section.id }}" class="p-w__heading {{ section.settings.heading_size | prepend: 'heading-size-' }} m-0">{{ section.settings.heading | escape }}</h2>
            {%- endif-%}
            {%- if section.settings.text != blank -%}
              <div class="p-w__text rte m-t" style="--m-t: 1rem;">{{ section.settings.text }}</div>
            {%- endif-%}
            {%- if section.settings.link_label != blank -%}
              <a {% if section.settings.link == blank %}role="link" aria-disabled="true"{% else %}href="{{ section.settings.link }}"{% endif %} class="link u-link {{ settings.link_type | prepend: "link--style-" }} m-t" aria-label="{{ section.settings.link_label | escape }}" style="--m-t: 1rem;">
                <span class="link-style">{{ section.settings.link_label | escape }}</span>
              </a>
            {%- endif -%}
          </div>
        </div>
      {%- endif -%}
      <div class="p-w__content o-h">
        <theme-swiper
          data-class-component="all carousel"
          data-class-slider="grid grid--gapless"
          data-class-items="grid__item grid__item-scroll m-0-i"
          data-breakpoint="u-md"
        >
          <slider-component class="d-block pos-relative swiper-more-item{% if section.settings.carousel_infinite_scroll %} infinite-scroll{% endif %}"
            data-space-between="10" 
            data-type-pagination="{{ section.settings.pagination_type }}"
            data-item-xxl="{{ section.settings.carousel_number }}" 
            data-item-xl="{{ section.settings.carousel_number }}" 
            data-item-lg="{{ section.settings.carousel_number_tablet }}" 
            data-item-md="{{ section.settings.carousel_number_tablet }}" 
            data-item-sm="{% if section.settings.carousel_number_tablet >= 2 %}2{% endif %}" 
            data-item-xs="{{ section.settings.carousel_number_mobile }}"
          >
            <div class="swiper grid-scroll d-block pos-relative no-js-overflow-x"> 
              <div class="carousel__items swiper-wrapper d-flex f-nowrap" id="Slider-{{ section.id }}" aria-label="Featured images" style="--c-xs: {{ section.settings.carousel_number_mobile }}; --c-sm: {% if section.settings.carousel_number_tablet >= 2 %}2{% endif %}; --c-md: {{ section.settings.carousel_number_tablet }}; --c-lg: {{ section.settings.carousel_number }};">
                {%- for block in section.blocks -%}
                  <div role="listitem" id="Slide-{{ section.id }}-{{ forloop.index }}" class="carousel__item swiper-slide scroll-s-start no-js-grid__item no-js-grid__scroll" {{ block.shopify_attributes }}>
                    <animate-element class="item d-block pos-relative gradient-global rounded-ovh" background>
                      <{% if block.settings.link != blank %}a{% else %}div{% endif %} class="item__media d-block color-foreground link-cover o-h" {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %}>
                        <div class="media media--transparent media--{{ section.settings.image_ratio }} media--zoom pos-relative o-h d-block" data-animate="{{ section.settings.image_animation }}"
                          style="--a-delay: {{ '0.2' | times: forloop.index }}s;
                          {%- if section.settings.image_ratio == 'adapt' -%}
                            {%- if block.settings.image != blank -%}
                              padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;
                            {%- else -%}
                              padding-bottom: {{ 1 | divided_by: highest_ratio | times: 100 }}%;
                            {%- endif -%}
                          {%- endif -%}"
                        >
                          {%- if block.settings.image != blank -%}
                            {%- capture sizes -%}
                              (min-width: 990px) 710px, (min-width: 750px) 550px, calc(100vw - 30px)
                            {%- endcapture -%}
                            {{ block.settings.image | image_url: width: 710 | image_tag:
                              loading: 'lazy',
                              sizes: sizes,
                              widths: '275, 550, 710',
                              class: 'motion-reduce'
                            }}
                          {%- else -%}
                            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                          {%- endif -%}
                        </div>
                      </{% if block.settings.link != blank %}a{% else %}div{% endif %}>
                    </animate-element>
                  </div>
                {%- endfor -%}
              </div>
              {%- if section.blocks.size > 1 -%}
                <div class="carousel__controls arrow-style-{{ settings.arrow_style }} no-js-hidden">
                  {%- if section.settings.arrows_type != 'none' -%}
                    <button type="button" data-step="1" class="button-slider button-slider__prev swiper-screen__{{ section.settings.arrows_type }} button-slider__hover color-arrow t-button b-none c-pointer pos-absolute z-index-2 b-circle p-0 d-flex a-i-center j-c-center swiper-button-prev" aria-label="{{ 'accessibility.previous_slide' | t }}" aria-controls="Slider-{{ section.id }}" name="previous">
                      {{ icon_arrow_list }}
                    </button>
                    <button type="button" data-step="1" class="button-slider button-slider__next swiper-screen__{{ section.settings.arrows_type }} button-slider__hover color-arrow t-button b-none c-pointer pos-absolute z-index-2 b-circle p-0 d-flex a-i-center j-c-center swiper-button-next" aria-label="{{ 'accessibility.next_slide' | t }}" aria-controls="Slider-{{ section.id }}" name="next">
                      {{ icon_arrow_list }}
                    </button>
                  {%- endif -%}
                  <div class="swiper-pagination swiper-screen__{{ section.settings.enable_pagination_type }} pos-relative"></div>
                </div>
              {%- endif -%}
            </div>
          </slider-component>
        </theme-swiper>
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.featured-images.name",
  "class": "section",
  "tag": "section",
  "max_blocks": 15,
  "disabled_on": {
    "groups": ["header", "footer", "custom.popup"]
  },
  "settings": [
  {
    "type": "text",
    "id": "heading",
    "default": "Images",
    "label": "t:sections.all.heading.label"
  },
  {
    "type": "select",
    "id": "heading_size",
    "options": [
    {
      "value": "default",
      "label": "t:sections.all.font_size.options"
    },
    {
      "value": "xx-small",
      "label": "t:sections.all.font_size.options__1"
    },
    {
      "value": "x-small",
      "label": "t:sections.all.font_size.options__2"
    },
    {
      "value": "small",
      "label": "t:sections.all.font_size.options__3"
    },
    {
      "value": "medium",
      "label": "t:sections.all.font_size.options__4"
    },
    {
      "value": "large",
      "label": "t:sections.all.font_size.options__5"
    },
    {
      "value": "x-large",
      "label": "t:sections.all.font_size.options__6"
    },
    {
      "value": "xx-large",
      "label": "t:sections.all.font_size.options__7"
    },
    {
      "value": "xxx-large",
      "label": "t:sections.all.font_size.options__8"
    }],
    "default": "default",
    "label": "t:sections.all.font_size.label__2"
  },
  {
    "type": "richtext",
    "id": "text",
    "default": "<p>Share information about your brand with your customers.</p>",
    "label": "t:sections.all.text.label"
  },
  {
    "type": "text",
    "id": "link_label",
    "default": "Link label",
    "label": "t:sections.all.link_label.label"
  },
  {
    "type": "url",
    "id": "link",
    "label": "t:sections.all.link_url.label"
  },
  {
    "type": "select",
    "id": "heading_alignment",
    "options": [
    {
      "value": "start",
      "label": "t:sections.all.desktop_heading_alignment.options__1"
    },
    {
      "value": "center",
      "label": "t:sections.all.desktop_heading_alignment.options__2"
    },
    {
      "value": "end",
      "label": "t:sections.all.desktop_heading_alignment.options__3"
    }],
    "default": "start",
    "label": "t:sections.all.desktop_heading_alignment.label"
  },
  {
    "type": "select",
    "id": "image_ratio",
    "options": [
    {
      "value": "adapt",
      "label": "t:sections.all.image_ratio.options__1"
    },
    {
      "value": "portrait",
      "label": "t:sections.all.image_ratio.options__2"
    },
    {
      "value": "square",
      "label": "t:sections.all.image_ratio.options__3"
    },
    {
      "value": "circle",
      "label": "t:sections.all.image_ratio.options__4"
    },
    {
      "value": "landscape",
      "label": "t:sections.all.image_ratio.options__5"
    }],
    "default": "adapt",
    "label": "t:sections.all.image_ratio.label"
  },
  {
    "type": "color_scheme",
    "id": "color_scheme",
    "label": "t:sections.all.colors.label",
    "default": "background-1"
  },
  {
    "type": "checkbox",
    "id": "use_custom_color",
    "default": false,
    "label": "t:sections.all.colors.use_custom_color"
  },
  {
    "type": "color",
    "id": "colors_text",
    "default": "#424242",
    "label": "t:sections.all.colors.colors_text"
  },
  {
    "type": "color",
    "id": "colors_background",
    "label": "t:sections.all.colors.colors_background"
  },
  {
    "type": "color_background",
    "id": "gradient_background",
    "default": "linear-gradient(90deg, rgba(246, 238, 227, 1), rgba(223, 244, 247, 1) 100%)",
    "label": "t:sections.all.colors.gradient_background"
  },
  {
    "type": "header",
    "content": "t:sections.all.carousel.label"
  },
  {
    "type": "range",
    "id": "carousel_number",
    "min": 1.0,
    "max": 5.0,
    "step": 0.1,
    "label": "t:sections.all.carousel.heading_4",
    "default": 4
  },
  {
    "type": "range",
    "id": "carousel_number_tablet",
    "min": 1.0,
    "max": 3.0,
    "step": 0.1,
    "label": "t:sections.all.carousel.heading_5",
    "default": 3
  },
  {
    "type": "select",
    "id": "carousel_number_mobile",
    "options": [
    {
      "value": "1",
      "label": "1"
    },
    {
      "value": "1.2",
      "label": "1.2"
    },
    {
      "value": "1.5",
      "label": "1.5"
    },
    {
      "value": "2",
      "label": "2"
    }],
    "default": "2",
    "label": "t:sections.all.carousel.heading_6"
  },
  {
    "type": "range",
    "id": "spacing_desktop",
    "min": 0,
    "max": 50,
    "step": 1,
    "unit": "px",
    "label": "t:sections.all.carousel.grid.label__1",
    "default": 10
  },
  {
    "type": "range",
    "id": "spacing_tablet",
    "min": 0,
    "max": 50,
    "step": 1,
    "unit": "px",
    "label": "t:sections.all.carousel.grid.label__2",
    "default": 10
  },
  {
    "type": "range",
    "id": "spacing_mobile",
    "min": 0,
    "max": 50,
    "step": 1,
    "unit": "px",
    "label": "t:sections.all.carousel.grid.label__3",
    "default": 10
  },
  {
    "type": "select",
    "id": "arrows_type",
    "options": [
      {
        "value": "none",
        "label": "t:sections.all.carousel.arrows.options"
      },
      {
        "value": "all",
        "label": "t:sections.all.carousel.arrows.options__1"
      },
      {
        "value": "lg",
        "label": "t:sections.all.carousel.arrows.options__2"
      },
      {
        "value": "md",
        "label": "t:sections.all.carousel.arrows.options__3"
      },
      {
        "value": "sm",
        "label": "t:sections.all.carousel.arrows.options__4"
      },
      {
        "value": "xs",
        "label": "t:sections.all.carousel.arrows.options__5"
      }],
    "default": "all",
    "label": "t:sections.all.carousel.arrows.label"
  },
  {
    "type": "checkbox",
    "id": "carousel_infinite_scroll",
    "default": false,
    "label": "t:sections.all.carousel.heading_1"
  },
  {
    "type": "select",
    "id": "enable_pagination_type",
    "options": [
      {
        "value": "all",
        "label": "t:sections.all.carousel.arrows.options__1"
      },
      {
        "value": "lg",
        "label": "t:sections.all.carousel.arrows.options__2"
      },
      {
        "value": "md",
        "label": "t:sections.all.carousel.arrows.options__3"
      },
      {
        "value": "sm",
        "label": "t:sections.all.carousel.arrows.options__4"
      },
      {
        "value": "xs",
        "label": "t:sections.all.carousel.arrows.options__5"
      }],
    "default": "all",
    "label": "t:sections.all.carousel.pagination.label__1"
  },
  {
    "type": "select",
    "id": "pagination_type",
    "options": [
      {
        "value": "none",
        "label": "t:sections.all.carousel.pagination.options"
      },
      {
        "value": "dots",
        "label": "t:sections.all.carousel.pagination.options__1"
      },
      {
        "value": "progressbar",
        "label": "t:sections.all.carousel.pagination.options__2"
      },
      {
        "value": "fraction",
        "label": "t:sections.all.carousel.pagination.options__3"
      }],
    "default": "progressbar",
    "label": "t:sections.all.carousel.pagination.label"
  },
  {
    "type": "header",
    "content": "t:sections.all.animation.content"
  },
  {
    "type": "select",
    "id": "image_animation",
    "options": [
      {
        "value": "none",
        "label": "t:sections.all.animation.set_animation.options__1.label"
      },
      {
        "value": "fade-up",
        "label": "t:sections.all.animation.set_animation.options__2.label"
      },
      {
        "value": "fade-down",
        "label": "t:sections.all.animation.set_animation.options__3.label"
      },
      {
        "value": "zoom-in",
        "label": "t:sections.all.animation.set_animation.options__4.label"
      },
      {
        "value": "zoom-out",
        "label": "t:sections.all.animation.set_animation.options__5.label"
      }
    ],
    "default": "none",
    "label": "t:sections.all.animation.set_animation.label__1"
  },
  {
    "type": "header",
    "content": "t:sections.all.padding.section_padding_heading"
  },
  {
    "type": "range",
    "id": "padding_top",
    "min": 0,
    "max": 100,
    "step": 1,
    "unit": "px",
    "label": "t:sections.all.padding.padding_top",
    "default": 40
  },
  {
    "type": "range",
    "id": "padding_bottom",
    "min": 0,
    "max": 100,
    "step": 1,
    "unit": "px",
    "label": "t:sections.all.padding.padding_bottom",
    "default": 40
  },
  {
    "type": "range",
    "id": "padding_top_mobile",
    "min": 0,
    "max": 100,
    "step": 1,
    "unit": "px",
    "label": "t:sections.all.padding.padding_top_mobile",
    "default": 20
  },
  {
    "type": "range",
    "id": "padding_bottom_mobile",
    "min": 0,
    "max": 100,
    "step": 1,
    "unit": "px",
    "label": "t:sections.all.padding.padding_bottom_mobile",
    "default": 20
  }],
  "blocks": [
  {
    "type": "image",
    "name": "t:sections.featured-images.blocks.image.name",
    "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.all.image.label"
    },
    {
      "type": "url",
      "id": "link",
      "label": "t:sections.all.link_url.label"
    }]
  }],
  "presets": [
  {
    "name": "t:sections.featured-images.presets.name",
    "blocks": [
    {
      "type": "image"
    },
    {
      "type": "image"
    },
    {
      "type": "image"
    }]
  }]
}
{% endschema %}