{%- liquid
  assign column_desktop = 1
  if section.blocks.size > 0
    if section.settings.type_style == 'default'
      assign column_desktop = 1
    else
      assign column_desktop = 2
    endif
  endif
-%}

<div class="section__image-w-text{% if section.settings.show_top_line_separator %} b-top{% endif %}{% if section.settings.show_bot_line_separator %} b-bottom{% endif %} spacing spacing-xs color-{{ section.settings.color_scheme }} style--{{ section.settings.type_style }} gradient{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} o-h"
  style="--padding-top: {{ section.settings.padding_top }}px;
    --padding-bottom: {{ section.settings.padding_bottom }}px;
    --padding-top-xs: {{ section.settings.padding_top_mobile }}px;
    --padding-bottom-xs: {{ section.settings.padding_bottom_mobile }}px;
    {% if section.settings.show_top_line_separator or section.settings.show_bot_line_separator %}--cus-o: 1;{% endif %}
    "
>
  <div class="{{ section.settings.section_width }} m-auto{% if section.settings.section_width == 'full-width' %} p-banner{% endif %}" {% if section.settings.section_width == 'customized-width' %}style="--page-width: {{ section.settings.customize_width }}px;"{% endif %}>
    {%- liquid 
      if section.settings.layout == 'text_first' 
        if section.settings.type_style == 'special' or section.settings.type_style == 'default'
          assign check_text_first = 'f-row-reverse-lg'
        else
          assign check_text_first = 'f-row-reverse-md'
        endif
      endif

      if section.settings.layout_mobile == 'text_first_mobile' 
        if section.settings.type_style == 'special' or section.settings.type_style == 'default'
          assign check_text_first_mobile = 'f-column-reverse-m-lg'
        else
          assign check_text_first_mobile = 'f-column-reverse-m-md'
        endif
      endif
    -%}
    <div class="banner grid-col d-flex f-wrap h-100 pos-relative {{ check_text_first }} {{ check_text_first_mobile }}" 
      id="Banner-{{ section.id }}" 
      style="
        --c-xs: 1; --c-sm: 1; --c-md: {{ column_desktop }}; --c-lg: {{ column_desktop }};{% if section.settings.type_style == 'default' %} --c-xl: 2;{% else %} --grid: 1.5rem;{% endif %}
      "
    >
      {%- liquid 
        if section.settings.type_style == 'default'
          if section.settings.layout == 'text_first'
            assign class_box = 'pos-relative fill--background fill-right'
          else
            assign class_box = 'pos-relative fill--background fill-left'
          endif
        endif
      -%}
      <div class="banner__media grid__item{% if section.settings.type_style == 'default' %} grid__item--xl{% endif %}{% if section.settings.background_for_image %} bg-image--box{% endif %}{% if section.settings.arrows_type == 'all' or section.settings.arrows_type == 'sm' or section.settings.arrows_type == 'xs' %}{% if section.settings.image_2 != blank or section.settings.image_3 != blank %} has-arrow-mobile{% endif %}{% endif %} {{ class_box }}"
        {%- if section.settings.background_for_image -%} 
          style="
            --color-background: {{ section.settings.image_colors_background.red }}, {{ section.settings.image_colors_background.green }}, {{ section.settings.image_colors_background.blue }}; 
            --gradient-background: {% if section.settings.image_gradient_background != blank %}{{ section.settings.image_gradient_background }}{% else %}{{ section.settings.image_colors_background }}{% endif %}"
        {%- endif -%}
      >
        <animate-element class="d-block gradient-global o-h pos-relative rounded-ovh{% if section.settings.type_style == 'special' %} h-100{% endif %}{% if section.settings.heading != blank %} has-content{% endif %} d-flex f-wrap i-padding i-padding-md i-padding-lg" background
          style="--i-padding: {% if section.settings.image != blank %}{{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}{% else %}100{% endif %}%;"
        >
          {%- if section.settings.image_2 != blank or section.settings.image_3 != blank -%}
            {%- liquid
              capture icon_arrow_list
                render 'icon-arrow-list'
              endcapture
            -%}
            <slideshow-component class="section__slideshow pos-relative z-index-2 d-block w-100{% if section.settings.carousel_infinite_scroll %} infinite-scroll{% endif %}"
              data-type-pagination="{{ section.settings.pagination_type }}"
              data-speed="1"
              style="transform: translate(0px, 0px);"
            >
              <div class="slideshow swiper slider"
                role="region" 
                aria-roledescription="{{ 'sections.slideshow.carousel' | t }}" 
                aria-label="{{ section.settings.accessibility_info | escape }}" 
              >
                <div 
                  class="swiper-wrapper"
                  id="Slider-{{ section.id }}"
                  aria-live="polite" 
                  aria-atomic="true" 
                >
                  {%- for i in (1..3) -%}
                    {%- capture image -%}image_{{ i }}{%- endcapture -%}
                    {%- assign imageSlide = section.settings[image] -%}
                    {%- if i == 1 -%}
                      <div 
                        class="slideshow__item slide-animation swiper-slide slider__item slider__item--{{ i }} scroll-s-start o-h banner__media-hover" 
                        role="group" 
                        aria-roledescription="Slide" 
                        aria-label="{{ 'accessibility.slide' | t: index: i, total: forloop.length }}" 
                        tabindex="-1" 
                        id="Slide-{{ section.id }}-{{ i }}"
                      >
                        <div data-swiper-parallax="40%" class="slider__image o-h pos-relative slideshow__image d-block w-100 h-100">
                          {%- if section.settings.image != blank -%}
                            {%- capture sizes -%}
                              {%- if section.settings.type_style == 'modern' -%}
                                {%- if section.blocks.size > 0 -%}
                                  (min-width: 1200px) calc((100vw - 570px),
                                  (min-width: 750px) calc((100vw - 100px) / 2), calc((100vw - 30px) / 2)
                                {%- else -%}
                                  (min-width: 1200px) 100vw,
                                  (min-width: 750px) calc((100vw - 100px)/2), calc(100vw - 30px)
                                {%- endif -%}
                              {%- elsif section.settings.type_style == 'special'  -%}
                                {%- if section.blocks.size > 0 -%}
                                  (min-width: 1200px) calc((100% - 36.478),
                                  (min-width: 750px) calc((100vw - 100px) / 2), calc((100vw - 30px) / 2)
                                {%- else -%}
                                  (min-width: 1200px) 100vw,
                                  (min-width: 750px) calc((100vw - 100px)/2), calc(100vw - 30px)
                                {%- endif -%}
                              {%- else -%}
                                {%- if section.blocks.size > 0 -%}
                                  (min-width: 1200px) 50vw,
                                  (min-width: 750px) calc((100vw - 100px) / 2), calc((100vw - 30px) / 2)
                                {%- else -%}
                                  (min-width: 1200px) 100vw,
                                  (min-width: 750px) calc((100vw - 100px)/2), calc(100vw - 30px)
                                {%- endif -%}
                              {%- endif -%}
                            {%- endcapture -%}
                            {{ section.settings.image | image_url: width: 1500 | image_tag: loading: 'lazy', sizes: sizes, widths: '165, 360, 535, 750, 1070, 1500', class: 'd-block w-100 h-100 o-f-cover motion-reduce' }}
                          {%- else -%}
                            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                          {%- endif -%}
                        </div>
                        {% if section.settings.heading == blank and section.settings.link != blank %}
                          <a href="{{ section.settings.link }}" class="pos-absolute top-0 left-0 d-block o-h w-100 h-100 link-cover z-index-1" aria-label="link">
                            <span class="hidden">{{ section.settings.link }}</span>
                          </a>
                        {% endif %}
                      </div>
                    {%- else -%}
                      {%- if imageSlide != blank -%}
                        <div 
                          class="slideshow__item slide-animation swiper-slide slider__item slider__item--{{ i }} scroll-s-start o-h banner__media-hover" 
                          role="group" 
                          aria-roledescription="Slide" 
                          aria-label="{{ 'accessibility.slide' | t: index: i, total: forloop.length }}" 
                          tabindex="-1" 
                          id="Slide-{{ section.id }}-{{ i }}"
                        >
                          <div data-swiper-parallax="40%" class="slider__image o-h pos-relative slideshow__image d-block w-100 h-100">
                            {%- if imageSlide != blank -%}
                              {%- capture sizes -%}
                                {%- if section.settings.type_style == 'modern' -%}
                                  {%- if section.blocks.size > 0 -%}
                                    (min-width: 1200px) calc((100vw - 570px),
                                    (min-width: 750px) calc((100vw - 100px) / 2), calc((100vw - 30px) / 2)
                                  {%- else -%}
                                    (min-width: 1200px) 100vw,
                                    (min-width: 750px) calc((100vw - 100px)/2), calc(100vw - 30px)
                                  {%- endif -%}
                                {%- elsif section.settings.type_style == 'special'  -%}
                                  {%- if section.blocks.size > 0 -%}
                                    (min-width: 1200px) calc((100% - 36.478),
                                    (min-width: 750px) calc((100vw - 100px) / 2), calc((100vw - 30px) / 2)
                                  {%- else -%}
                                    (min-width: 1200px) 100vw,
                                    (min-width: 750px) calc((100vw - 100px)/2), calc(100vw - 30px)
                                  {%- endif -%}
                                {%- else -%}
                                  {%- if section.blocks.size > 0 -%}
                                    (min-width: 1200px) 50vw,
                                    (min-width: 750px) calc((100vw - 100px) / 2), calc((100vw - 30px) / 2)
                                  {%- else -%}
                                    (min-width: 1200px) 100vw,
                                    (min-width: 750px) calc((100vw - 100px)/2), calc(100vw - 30px)
                                  {%- endif -%}
                                {%- endif -%}
                              {%- endcapture -%}
                              {{ imageSlide | image_url: width: 1500 | image_tag: loading: 'lazy', sizes: sizes, widths: '165, 360, 535, 750, 1070, 1500', class: 'd-block w-100 h-100 o-f-cover motion-reduce' }}
                            {%- else -%}
                              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                            {%- endif -%}
                          </div>
                          {% if section.settings.heading == blank and section.settings.link != blank %}
                            <a href="{{ section.settings.link }}" class="pos-absolute top-0 left-0 d-block o-h w-100 h-100 link-cover z-index-1" aria-label="link">
                              <span class="hidden">{{ section.settings.link }}</span>
                            </a>
                          {% endif %}
                        </div>
                      {%- endif -%}
                    {%- endif -%}
                  {%- endfor -%}
                </div>

                <div 
                  class="slideshow__controls arrow-style-{{ settings.arrow_style | replace: 'modern-plus', 'modern' }} controls-{{ section.settings.pagination_type }} d-flex a-i-center w-100 j-c-center no-js-hidden"
                >
                  {%- if section.settings.arrows_type != 'none' -%}
                    <button type="button" class="button-slider button-slider__prev swiper-screen__{{ section.settings.arrows_type }} button-slider__hover color-arrow t-button b-none c-pointer pos-absolute{% if section.settings.pagination_type == 'none'%} pos-relative-xs{% endif %} z-index-2 b-circle p-0 d-flex a-i-center j-c-center swiper-button-prev" aria-label="{{ 'accessibility.previous_slide' | t }}" aria-controls="Slider-{{ section.id }}" name="previous">
                      {{ icon_arrow_list }}
                    </button>
                  {%- endif -%}
                  {%- if section.settings.arrows_type != 'none' -%}
                    <button type="button" class="button-slider button-slider__next swiper-screen__{{ section.settings.arrows_type }} button-slider__hover color-arrow t-button b-none c-pointer pos-absolute{% if section.settings.pagination_type == 'none'%} pos-relative-xs{% endif %} z-index-2 b-circle p-0 d-flex a-i-center j-c-center swiper-button-next" aria-label="{{ 'accessibility.next_slide' | t }}" aria-controls="Slider-{{ section.id }}" name="next"> 
                      {{ icon_arrow_list }}
                    </button>
                  {%- endif -%}
                  <div class="swiper-pagination swiper-screen__{{ section.settings.enable_pagination_type }} slider-counter{% if section.settings.pagination_type != 'number' %} pos-relative-xs{% endif %} z-index-1 d-flex a-i-center j-c-center"></div>
                </div>
                <noscript>
                  <div class="slideshow__controls d-flex a-i-center j-c-center w-100">
                    <div class="slider-counter pos-absolute pos-relative-xs z-index-2">
                      <div class="slider-counter__wrapper d-flex a-i-center j-c-center">
                        {%- for block in section.blocks -%}
                          <a href="#Slide-{{ section.id }}-{{ forloop.index }}" class="slider-counter__link link link--text u-none" aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}">
                            {{ forloop.index }}
                          </a>
                        {%- endfor -%}
                      </div>
                    </div>
                  </div>
                </noscript>
              </div>
            </slideshow-component>
          {%- else -%}
            <{% if section.settings.heading == blank and section.settings.link != blank %}a href="{{ section.settings.link }}"{% else %}div{% endif %} 
              class="media media--transparent media--zoom{% unless section.settings.background_for_image %} pos-absolute top-0 left-0{% endunless %} d-block o-h w-100{% if section.settings.type_style == 'special' %} h-100{% endif %}" 
              style="padding-bottom: {% if section.settings.image != blank %}{{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;{% else %}100%;{% endif %}" 
              data-animate="{{ section.settings.image_animation }}"
            >
              {%- if section.settings.image != blank -%}
                {%- capture sizes -%}
                  {%- if section.settings.type_style == 'modern' -%}
                    {%- if section.blocks.size > 0 -%}
                      (min-width: 1200px) calc((100vw - 570px),
                      (min-width: 750px) calc((100vw - 100px) / 2), calc((100vw - 30px) / 2)
                    {%- else -%}
                      (min-width: 1200px) 100vw,
                      (min-width: 750px) calc((100vw - 100px)/2), calc(100vw - 30px)
                    {%- endif -%}
                  {%- elsif section.settings.type_style == 'special'  -%}
                    {%- if section.blocks.size > 0 -%}
                      (min-width: 1200px) calc((100% - 36.478),
                      (min-width: 750px) calc((100vw - 100px) / 2), calc((100vw - 30px) / 2)
                    {%- else -%}
                      (min-width: 1200px) 100vw,
                      (min-width: 750px) calc((100vw - 100px)/2), calc(100vw - 30px)
                    {%- endif -%}
                  {%- else -%}
                    {%- if section.blocks.size > 0 -%}
                      (min-width: 1200px) 50vw,
                      (min-width: 750px) calc((100vw - 100px) / 2), calc((100vw - 30px) / 2)
                    {%- else -%}
                      (min-width: 1200px) 100vw,
                      (min-width: 750px) calc((100vw - 100px)/2), calc(100vw - 30px)
                    {%- endif -%}
                  {%- endif -%}
                {%- endcapture -%}
                {{ section.settings.image | image_url: width: 1500 | image_tag: loading: 'lazy', sizes: sizes, widths: '165, 360, 535, 750, 1070, 1500' }}
              {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {%- endif -%}
            </{% if section.settings.heading == blank and section.settings.link != blank %}a{% else %}div{% endif %}>
          {%- endif -%}

          {%- if section.settings.heading != blank -%}
            <{% if section.settings.link_label == blank and section.settings.link != blank %}a href="{{ section.settings.link }}"{% else %}div{% endif %} 
              class="content u-none banner__content--top-right d-flex a-i-center j-c-end f-shrink f-grow pos-relative w-100 z-index-2 o-h"
            >
              <div class="media__content d-flex f-column j-c-end w-100 h-100 left" style="--color-foreground: {{ section.settings.colors_heading.red }}, {{ section.settings.colors_heading.green }}, {{ section.settings.colors_heading.blue }};">
                <h2 class="banner__heading {{ section.settings.heading_size | prepend: 'heading-size-' }} m-0" data-animate="{{ section.settings.text_animation }}" style="--a-delay: 0.2s;">
                  {{ section.settings.heading | escape }}
                </h2>
                {%- if section.settings.link_label != blank -%}
                  <div class="rte" data-animate="{{ section.settings.text_animation }}" style="--a-delay: 0.4s;">
                    <a {% if section.settings.link == blank %}role="link" aria-disabled="true"{% else %}href="{{ section.settings.link }}"{% endif %} class="link link--text u-u u-link {{ settings.link_type | prepend: "link--style-" }}" aria-label="{{ section.settings.link_label }}">
                      <span class="link-style">{{ section.settings.link_label }}</span>
                    </a>
                  </div>
                {%- endif -%}
              </div>
            </{% if section.settings.link_label == blank and section.settings.link != blank %}a{% else %}div{% endif %}>
          {%- endif -%}
        </animate-element>
      </div>
      {%- if section.blocks.size > 0 -%}
        {%- liquid
          assign class_box = 'gradient'
          if section.settings.type_style == 'default'
            if section.settings.layout == 'text_first'
              assign class_box = 'pos-relative fill--background fill-left'
            else
              assign class_box = 'pos-relative fill--background fill-right'
            endif
          endif
        -%}
        <div class="banner__content grid__item{% if section.settings.type_style == 'default' %} grid__item--xl{% endif %}">
          <div class="box {{ class_box }} {{ section.settings.desktop_content_alignment }} {{ section.settings.mobile_content_alignment }}-xs h-100 d-flex a-i-center-xs j-c-{{ section.settings.desktop_content_alignment | replace: 'left', 'start' | replace: 'right', 'end' }} j-c-{{ section.settings.mobile_content_alignment | replace: 'left', 'start' | replace: 'right', 'end' }}-xs a-i-{{ section.settings.desktop_content_position | replace: 'top', 'start' | replace: 'bottom', 'end' | replace: 'middle', 'center' }}" 
            {%- if section.settings.background_for_box -%} 
              style="--color-foreground: {{ section.settings.colors_text.red }}, {{ section.settings.colors_text.green }}, {{ section.settings.colors_text.blue }};
              --color-background: {{ section.settings.colors_background.red }}, {{ section.settings.colors_background.green }}, {{ section.settings.colors_background.blue }}; 
              --gradient-background: {% if section.settings.gradient_background != blank %}{{ section.settings.gradient_background }}{% else %}{{ section.settings.colors_background }}{% endif %}"
            {%- endif -%}
          >
            <animate-element class="box__wrapper d-block pos-relative">
              {%- for block in section.blocks -%}
                {%- case block.type -%}
                  {%- when 'subheading' -%}
                    {%- if block.settings.subheading != blank -%}
                      {%- liquid 
                        if block.settings.subheading_font_typography == 'font-body'
                          assign subheadingSize = block.settings.subheading_size | prepend: 'text-size-'
                        else
                          assign subheadingSize = block.settings.subheading_size | prepend: 'heading-size-'
                        endif
                      -%}
                      <div class="banner__subheading {{ block.settings.subheading_font }} {{ block.settings.subheading_font_typography | prepend: 'typography-' }} {{ subheadingSize }}{% if section.settings.type_style == 'default' %} m-0{% endif %} element-spacing" 
                        data-animate="{{ section.settings.text_animation }}" 
                        {{ block.shopify_attributes }}
                        style="--padding-top: {{ block.settings.padding_top }}px;
                          --padding-bottom: {{ block.settings.padding_bottom }}px;
                          --a-delay: {{ '0.2' | times: forloop.index }}s;"
                      >
                        {{ block.settings.subheading | escape }}
                      </div>
                    {%- endif -%}
                  {%- when 'heading' -%}
                    {%- if block.settings.heading != blank -%}
                      {%- liquid 
                        if section.settings.type_style == 'special'
                          assign check_heading_size = block.settings.heading_size | replace: 'h2', 'heading-size-small' | replace: 'h1', 'heading-size-medium' | replace: 'h0', 'heading-size-large'
                        else
                          assign check_heading_size = block.settings.heading_size | append: ' f-bold'
                        endif
                      -%}
                      <h2 class="banner__heading {{ check_heading_size }} m-0 element-spacing" data-animate="{{ section.settings.text_animation }}" {{ block.shopify_attributes }}
                        style="--padding-top: {{ block.settings.padding_top }}px;
                          --padding-bottom: {{ block.settings.padding_bottom }}px;
                          --a-delay: {{ '0.2' | times: forloop.index }}s;"
                      >{{ block.settings.heading }}</h2>
                    {%- endif -%}
                  {%- when 'text' -%}
                    {%- if block.settings.text != blank -%}
                      <div class="banner__text rte element-spacing" data-animate="{{ section.settings.text_animation }}" {{ block.shopify_attributes }}
                        style="--padding-top: {{ block.settings.padding_top }}px;
                          --padding-bottom: {{ block.settings.padding_bottom }}px;
                          --a-delay: {{ '0.2' | times: forloop.index }}s;"
                      >{{ block.settings.text }}</div>
                    {%- endif -%}
                  {%- when 'navigation' -%}
                    {%- if block.settings.menu != blank -%}
                      <div class="banner__navigation rte {{ block.settings.text_size | prepend: 'text-size-' }} element-spacing" data-animate="{{ section.settings.text_animation }}" {{ block.shopify_attributes }}
                        style="--padding-top: {{ block.settings.padding_top }}px;
                          --padding-bottom: {{ block.settings.padding_bottom }}px;
                          --a-delay: {{ '0.2' | times: forloop.index }}s;"
                      >
                        <ul class="navigation-block__content list-unstyled" role="list">
                          {%- for link in block.settings.menu.links -%}
                            <li class="navigation-target navigation-block__item" data-target="Navigation-{{ link.title | url_escape }}-{{ forloop.index }}">
                              <a href="{{ link.url }}" class="navigation-block__link link h-link u-none {{ settings.link_type | prepend: "link--style-" }} color-foreground d-block focus-inset">
                                <span class="link-style">{{ link.title }}</span>
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      </div>
                    {%- endif -%}
                  {%- when 'link' -%}
                    <div class="banner__link{% if section.settings.type_style != 'default' %} rte{% endif %} element-spacing{% if block.settings.show_link and block.settings.show_link_secondary %} d-flex f-wrap f-column g-gap a-c-center j-c-center{% endif %}" data-animate="{{ section.settings.text_animation }}" {{ block.shopify_attributes }}
                      style="{% if block.settings.show_link and block.settings.show_link_secondary %}--g-gap: 2rem;{% endif %}
                        --padding-top: {{ block.settings.padding_top }}px;
                        --padding-bottom: {{ block.settings.padding_bottom }}px;
                        --a-delay: {{ '0.2' | times: forloop.index }}s;"
                    >
                      {%- if block.settings.show_link -%}
                        <a {% if block.settings.link == blank %}role="link" aria-disabled="true"{% else %}href="{{ block.settings.link }}"{% endif %} class="p-w__button{% if block.settings.show_view_all == 'link' %} link u-link {{ settings.link_type | prepend: "link--style-" }}{% else %} button {{ settings.button_type | prepend: 'button--main-' }} {{ settings.button_icon | prepend: 'button--icon-' }} {{ settings.button_style | prepend: 'button--style-' }}{% if block.settings.button_transparent == 'transparent' %} button--transparent{% endif %}{% endif %}" 
                          aria-label="
                          {%- if block.settings.show_view_all == 'link' -%}
                            {%- if block.settings.link_label != blank -%}
                              {{ 'sections.featured_collection.only_link_label' | t: link_name: block.settings.link_label }}
                            {%- else -%}
                              {{ 'sections.featured_collection.view_all' | t }}
                            {%- endif -%}
                          {%- else -%}
                            {%- if block.settings.link_label != blank -%}
                              {{ 'sections.featured_collection.only_link_label' | t: link_name: block.settings.link_label }}
                            {%- else -%}
                              {{ 'sections.featured_collection.all_shop' | t }}
                            {%- endif -%}
                          {%- endif -%}"
                        >
                          <span class="text link-style">
                            {%- if block.settings.show_view_all == 'link' -%}
                              {%- if block.settings.link_label != blank -%}
                                {{ block.settings.link_label | escape }}
                              {%- else -%}
                                {{ 'sections.featured_collection.view_all' | t }}
                              {%- endif -%}
                            {%- else -%}
                              {%- if block.settings.link_label != blank -%}
                                {{ block.settings.link_label | escape }}
                              {%- else -%}
                                {{ 'sections.featured_collection.all_shop' | t }}
                              {%- endif -%}
                            {%- endif -%}
                          </span>
                          {%- if block.settings.show_view_all == 'button' -%}{% render 'button-main-style' %}{%- endif -%}
                        </a>
                      {%- endif -%}

                      {%- if block.settings.show_link_secondary -%}
                        <a {% if block.settings.link_secondary == blank %}role="link" aria-disabled="true"{% else %}href="{{ block.settings.link_secondary }}"{% endif %} class="p-w__button color-{{ block.settings.color_scheme_link_secondary }}{% if block.settings.show_view_all_secondary == 'link' %} link u-link {{ settings.link_type | prepend: "link--style-" }}{% else %} button {{ settings.button_type | prepend: 'button--main-' }} {{ settings.button_icon | prepend: 'button--icon-' }} {{ settings.button_style | prepend: 'button--style-' }}{% if block.settings.button_transparent_secondary == 'transparent' %} button--transparent{% endif %}{% endif %}" 
                          aria-label="
                          {%- if block.settings.show_view_all_secondary == 'link' -%}
                            {%- if block.settings.link_label_secondary != blank -%}
                              {{ 'sections.featured_collection.only_link_label' | t: link_name: block.settings.link_label_secondary }}
                            {%- else -%}
                              {{ 'sections.featured_collection.view_all' | t }}
                            {%- endif -%}
                          {%- else -%}
                            {%- if block.settings.link_label_secondary != blank -%}
                              {{ 'sections.featured_collection.only_link_label' | t: link_name: block.settings.link_label_secondary }}
                            {%- else -%}
                              {{ 'sections.featured_collection.all_shop' | t }}
                            {%- endif -%}
                          {%- endif -%}"
                        >
                          <span class="text link-style">
                            {%- if block.settings.show_view_all_secondary == 'link' -%}
                              {%- if block.settings.link_label_secondary != blank -%}
                                {{ block.settings.link_label_secondary | escape }}
                              {%- else -%}
                                {{ 'sections.featured_collection.view_all' | t }}
                              {%- endif -%}
                            {%- else -%}
                              {%- if block.settings.link_label_secondary != blank -%}
                                {{ block.settings.link_label_secondary | escape }}
                              {%- else -%}
                                {{ 'sections.featured_collection.all_shop' | t }}
                              {%- endif -%}
                            {%- endif -%}
                          </span>
                          {%- if block.settings.show_view_all_secondary == 'button' -%}{% render 'button-main-style' %}{%- endif -%}
                        </a>
                      {%- endif -%}
                    </div>
                {%- endcase -%}
              {%- endfor -%}
            </animate-element>
          </div>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image-with-text.name",
  "tag": "section",
  "class": "section pos-relative",
  "disabled_on": {
    "groups": ["header", "footer", "custom.popup"]
  },
  "settings": [
  {
    "type": "select",
    "id": "type_style",
    "options": [
    {
      "value": "special",
      "label": "t:settings_schema.layout.settings.style.options__1"
    },
    {
      "value": "classic",
      "label": "t:settings_schema.layout.settings.style.options__2"
    },
    {
      "value": "modern",
      "label": "t:settings_schema.layout.settings.style.options__3"
    },
    {
      "value": "default",
      "label": "t:settings_schema.layout.settings.style.options__4"
    }],
    "default": "classic",
    "label": "t:settings_schema.layout.name__2"
  },
  {
    "type": "select",
    "id": "section_width",
    "options": [
    {
      "value": "full-width",
      "label": "t:sections.all.section_width.options__1"
    },
    {
      "value": "page-width",
      "label": "t:sections.all.section_width.options__2"
    },
    {
      "value": "customized-width",
      "label": "t:sections.all.section_width.options__3"
    }],
    "default": "page-width",
    "label": "t:sections.all.section_width.label"
  },
  {
    "type": "range",
    "id": "customize_width",
    "min": 1000,
    "max": 1800,
    "step": 50,
    "default": 1800,
    "unit": "px",
    "label": "t:sections.all.customize_width.label"
  },
  {
    "type": "checkbox",
    "id": "show_top_line_separator",
    "default": false,
    "label": "t:sections.all.show_line_separator.label__2"
  },
  {
    "type": "checkbox",
    "id": "show_bot_line_separator",
    "default": false,
    "label": "t:sections.all.show_line_separator.label__3"
  },
  {
    "type": "header",
    "content": "t:settings_schema.colors.name"
  },
  {
    "type": "color_scheme",
    "id": "color_scheme",
    "label": "t:sections.all.colors.label",
    "default": "background-1"
  },
  {
    "type": "header",
    "content": "t:sections.all.image.label"
  },
  {
    "type": "image_picker",
    "id": "image",
    "label": "t:sections.all.image.image_1"
  },
  {
    "type": "image_picker",
    "id": "image_2",
    "label": "t:sections.all.image.image_2"
  },
  {
    "type": "image_picker",
    "id": "image_3",
    "label": "t:sections.all.image.image_3"
  },
  {
    "type": "text",
    "id": "heading",
    "label": "t:sections.all.heading.label"
  },
  {
    "type": "select",
    "id": "heading_size",
    "options": [
    {
      "value": "default",
      "label": "t:sections.all.font_size.options"
    },
    {
      "value": "xx-small",
      "label": "t:sections.all.font_size.options__1"
    },
    {
      "value": "x-small",
      "label": "t:sections.all.font_size.options__2"
    },
    {
      "value": "small",
      "label": "t:sections.all.font_size.options__3"
    },
    {
      "value": "medium",
      "label": "t:sections.all.font_size.options__4"
    },
    {
      "value": "large",
      "label": "t:sections.all.font_size.options__5"
    },
    {
      "value": "x-large",
      "label": "t:sections.all.font_size.options__6"
    },
    {
      "value": "xx-large",
      "label": "t:sections.all.font_size.options__7"
    },
    {
      "value": "xxx-large",
      "label": "t:sections.all.font_size.options__8"
    }],
    "default": "default",
    "label": "t:sections.all.font_size.label__2"
  },
  {
    "type": "text",
    "id": "link_label",
    "label": "t:sections.all.link_label.label"
  },
  {
    "type": "url",
    "id": "link",
    "label": "t:sections.all.link_url.label"
  },
  {
    "type": "color",
    "id": "colors_heading",
    "default": "#FFFFFF",
    "label": "t:sections.all.colors.colors_text"
  },
  {
    "type": "checkbox",
    "id": "background_for_image",
    "default": false,
    "label": "t:sections.image-with-text.settings.background_for_box.label__1"
  },
  {
    "type": "color",
    "id": "image_colors_background",
    "label": "t:sections.all.colors.colors_background"
  },
  {
    "type": "color_background",
    "id": "image_gradient_background",
    "default": "linear-gradient(90deg, rgba(246, 238, 227, 1), rgba(223, 244, 247, 1) 100%)",
    "label": "t:sections.all.colors.gradient_background"
  },
  {
    "type": "header",
    "content": "t:sections.all.carousel.label"
  },
  {
    "type": "paragraph",
    "content": "t:sections.image-with-text.settings.layout.info__1"
  },
  {
    "type": "select",
    "id": "arrows_type",
    "options": [
      {
        "value": "none",
        "label": "t:sections.all.carousel.arrows.options"
      },
      {
        "value": "all",
        "label": "t:sections.all.carousel.arrows.options__1"
      },
      {
        "value": "lg",
        "label": "t:sections.all.carousel.arrows.options__2"
      },
      {
        "value": "md",
        "label": "t:sections.all.carousel.arrows.options__3"
      },
      {
        "value": "sm",
        "label": "t:sections.all.carousel.arrows.options__4"
      },
      {
        "value": "xs",
        "label": "t:sections.all.carousel.arrows.options__5"
      }],
    "default": "all",
    "label": "t:sections.all.carousel.arrows.label"
  },
  {
    "type": "checkbox",
    "id": "carousel_infinite_scroll",
    "default": true,
    "label": "t:sections.all.carousel.heading_1"
  },
  {
    "type": "select",
    "id": "enable_pagination_type",
    "options": [
      {
        "value": "all",
        "label": "t:sections.all.carousel.arrows.options__1"
      },
      {
        "value": "lg",
        "label": "t:sections.all.carousel.arrows.options__2"
      },
      {
        "value": "md",
        "label": "t:sections.all.carousel.arrows.options__3"
      },
      {
        "value": "sm",
        "label": "t:sections.all.carousel.arrows.options__4"
      },
      {
        "value": "xs",
        "label": "t:sections.all.carousel.arrows.options__5"
      }],
    "default": "all",
    "label": "t:sections.all.carousel.pagination.label__1"
  },
  {
    "type": "select",
    "id": "pagination_type",
    "options": [
    {
      "value": "none",
      "label": "t:sections.all.carousel.pagination.options"
    },
    {
      "value": "dots",
      "label": "t:sections.all.carousel.pagination.options__1"
    },
    {
      "value": "dashed",
      "label": "t:sections.all.carousel.pagination.options__4"
    }],
    "default": "dashed",
    "label": "t:sections.all.carousel.pagination.label"
  },
  {
    "type": "header",
    "content": "t:sections.all.content.label"
  },
  {
    "type": "checkbox",
    "id": "background_for_box",
    "default": false,
    "label": "t:sections.image-with-text.settings.background_for_box.label"
  },
  {
    "type": "color",
    "id": "colors_text",
    "default": "#424242",
    "label": "t:sections.all.colors.colors_text"
  },
  {
    "type": "color",
    "id": "colors_background",
    "label": "t:sections.all.colors.colors_background"
  },
  {
    "type": "color_background",
    "id": "gradient_background",
    "default": "linear-gradient(90deg, rgba(246, 238, 227, 1), rgba(223, 244, 247, 1) 100%)",
    "label": "t:sections.all.colors.gradient_background"
  },
  {
    "type": "header",
    "content": "t:sections.all.desktop_layout.header.content"
  },
  {
    "type": "select",
    "id": "layout",
    "options": [
    {
      "value": "image_first",
      "label": "t:sections.image-with-text.settings.layout.options__1"
    },
    {
      "value": "text_first",
      "label": "t:sections.image-with-text.settings.layout.options__2"
    }],
    "default": "image_first",
    "label": "t:sections.image-with-text.settings.layout.label"
  },
  {
    "type": "select",
    "id": "desktop_content_position",
    "options": [
    {
      "value": "top",
      "label": "t:sections.all.desktop_content_position.options__10"
    },
    {
      "value": "middle",
      "label": "t:sections.all.desktop_content_position.options__11"
    },
    {
      "value": "bottom",
      "label": "t:sections.all.desktop_content_position.options__12"
    }],
    "default": "top",
    "label": "t:sections.all.desktop_content_position.label",
    "info": "t:sections.all.desktop_content_position.info"
  },
  {
    "type": "select",
    "id": "desktop_content_alignment",
    "options": [
    {
      "value": "left",
      "label": "t:sections.all.desktop_content_alignment.options__1"
    },
    {
      "value": "center",
      "label": "t:sections.all.desktop_content_alignment.options__2"
    },
    {
      "value": "right",
      "label": "t:sections.all.desktop_content_alignment.options__3"
    }],
    "default": "left",
    "label": "t:sections.all.desktop_content_alignment.label"
  },
  {
    "type": "header",
    "content": "t:sections.all.mobile_layout.header.content"
  },
  {
    "type": "select",
    "id": "layout_mobile",
    "options": [
    {
      "value": "image_first_mobile",
      "label": "t:sections.image-with-text.settings.layout.options__1"
    },
    {
      "value": "text_first_mobile",
      "label": "t:sections.image-with-text.settings.layout.options__2"
    }],
    "default": "image_first_mobile",
    "label": "t:sections.image-with-text.settings.layout.label__1"
  },
  {
    "type": "select",
    "id": "mobile_content_alignment",
    "options": [
    {
      "value": "left",
      "label": "t:sections.all.mobile_content_alignment.options__1"
    },
    {
      "value": "center",
      "label": "t:sections.all.mobile_content_alignment.options__2"
    },
    {
      "value": "right",
      "label": "t:sections.all.mobile_content_alignment.options__3"
    }],
    "default": "left",
    "label": "t:sections.all.mobile_content_alignment.label"
  },
  {
    "type": "header",
    "content": "t:sections.all.animation.content"
  },
  {
    "type": "select",
    "id": "image_animation",
    "options": [
      {
        "value": "none",
        "label": "t:sections.all.animation.set_animation.options__1.label"
      },
      {
        "value": "fade-up",
        "label": "t:sections.all.animation.set_animation.options__2.label"
      },
      {
        "value": "fade-down",
        "label": "t:sections.all.animation.set_animation.options__3.label"
      },
      {
        "value": "zoom-in",
        "label": "t:sections.all.animation.set_animation.options__4.label"
      },
      {
        "value": "zoom-out",
        "label": "t:sections.all.animation.set_animation.options__5.label"
      }
    ],
    "default": "none",
    "label": "t:sections.all.animation.set_animation.label__1"
  },
  {
    "type": "select",
    "id": "text_animation",
    "options": [
      {
        "value": "none",
        "label": "t:sections.all.animation.set_animation.options__1.label"
      },
      {
        "value": "fade-up",
        "label": "t:sections.all.animation.set_animation.options__2.label"
      },
      {
        "value": "fade-down",
        "label": "t:sections.all.animation.set_animation.options__3.label"
      },
      {
        "value": "zoom-in",
        "label": "t:sections.all.animation.set_animation.options__4.label"
      },
      {
        "value": "zoom-out",
        "label": "t:sections.all.animation.set_animation.options__5.label"
      }
    ],
    "default": "none",
    "label": "t:sections.all.animation.set_animation.label__2"
  },
  {
    "type": "header",
    "content": "t:sections.all.padding.section_padding_heading"
  },
  {
    "type": "range",
    "id": "padding_top",
    "min": 0,
    "max": 100,
    "step": 1,
    "unit": "px",
    "label": "t:sections.all.padding.padding_top",
    "default": 0
  },
  {
    "type": "range",
    "id": "padding_bottom",
    "min": 0,
    "max": 100,
    "step": 1,
    "unit": "px",
    "label": "t:sections.all.padding.padding_bottom",
    "default": 0
  },
  {
    "type": "range",
    "id": "padding_top_mobile",
    "min": 0,
    "max": 100,
    "step": 1,
    "unit": "px",
    "label": "t:sections.all.padding.padding_top_mobile",
    "default": 0
  },
  {
    "type": "range",
    "id": "padding_bottom_mobile",
    "min": 0,
    "max": 100,
    "step": 1,
    "unit": "px",
    "label": "t:sections.all.padding.padding_bottom_mobile",
    "default": 0
  }],
  "blocks": [
  {
    "type": "subheading",
    "name": "t:sections.image-with-text.blocks.subheading.name",
    "limit": 1,
    "settings": [
    {
      "type": "text",
      "id": "subheading",
      "default": "Tell your brand's story through images",
      "label": "t:sections.all.subheading.label"
    },
    {
      "type": "select",
      "id": "subheading_font_typography",
      "options": [
      {
        "value": "font-heading",
        "label": "t:settings_schema.global.settings.typography_style.options__1"
      },
      {
        "value": "font-body",
        "label": "t:settings_schema.global.settings.typography_style.options__2"
      }],
      "default": "font-body",
      "label": "t:settings_schema.global.settings.font_weight.label__2"
    },
    {
      "type": "select",
      "id": "subheading_size",
      "options": [
      {
        "value": "xx-small",
        "label": "t:sections.all.font_size.options__1"
      },
      {
        "value": "x-small",
        "label": "t:sections.all.font_size.options__2"
      },
      {
        "value": "small",
        "label": "t:sections.all.font_size.options__3"
      },
      {
        "value": "medium",
        "label": "t:sections.all.font_size.options__4"
      },
      {
        "value": "large",
        "label": "t:sections.all.font_size.options__5"
      },
      {
        "value": "x-large",
        "label": "t:sections.all.font_size.options__6"
      },
      {
        "value": "xx-large",
        "label": "t:sections.all.font_size.options__7"
      },
      {
          "value": "xxx-large",
          "label": "t:sections.all.font_size.options__8"
      }],
      "default": "medium",
      "label": "t:sections.all.font_size.label__1"
    },
    {
      "type": "select",
      "id": "subheading_font",
      "options": [
      {
        "value": "f-normal",
        "label": "t:settings_schema.global.settings.font_weight.options__1"
      },
      {
        "value": "f-w-600",
        "label": "t:settings_schema.global.settings.font_weight.options__3"
      },
      {
        "value": "f-bold",
        "label": "t:settings_schema.global.settings.font_weight.options__2"
      }],
      "default": "f-w-600",
      "label": "t:settings_schema.global.settings.font_weight.label",
      "info": "t:settings_schema.global.settings.typography_style.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.block_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 10
    }]
  },
  {
    "type": "heading",
    "name": "t:sections.image-with-text.blocks.heading.name",
    "limit": 1,
    "settings": [
    {
      "type": "richtext",
      "id": "heading",
      "default": "<p>Image with text</p>",
      "label": "t:sections.all.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
      {
        "value": "h2",
        "label": "t:sections.all.heading_size.options__1"
      },
      {
        "value": "h1",
        "label": "t:sections.all.heading_size.options__2"
      },
      {
        "value": "h0",
        "label": "t:sections.all.heading_size.options__3"
      }],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.block_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 10
    }]
  },
  {
    "type": "text",
    "name": "t:sections.image-with-text.blocks.text.name",
    "limit": 1,
    "settings": [
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
      "label": "t:sections.all.text.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.block_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 10
    }]
  },
  {
    "type": "navigation",
    "name": "t:sections.image-with-text.blocks.navigation.name",
    "limit": 1,
    "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:sections.all.menu.label"
    },
    {
      "type": "select",
      "id": "text_size",
      "options": [
      {
        "value": "xx-small",
        "label": "t:sections.all.font_size.options__1"
      },
      {
        "value": "x-small",
        "label": "t:sections.all.font_size.options__2"
      },
      {
        "value": "small",
        "label": "t:sections.all.font_size.options__3"
      },
      {
        "value": "medium",
        "label": "t:sections.all.font_size.options__4"
      },
      {
        "value": "large",
        "label": "t:sections.all.font_size.options__5"
      },
      {
        "value": "x-large",
        "label": "t:sections.all.font_size.options__6"
      },
      {
        "value": "xx-large",
        "label": "t:sections.all.font_size.options__7"
      },
      {
          "value": "xxx-large",
          "label": "t:sections.all.font_size.options__8"
      }],
      "default": "medium",
      "label": "t:sections.all.font_size.label__3"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.block_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 10
    }]
  },
  {
    "type": "link",
    "name": "t:sections.image-with-text.blocks.link.name",
    "limit": 1,
    "settings": [
    {
      "type": "paragraph",
      "content": "t:settings_schema.colors.settings.header__2.content"
    },
    {
      "type": "checkbox",
      "id": "show_link",
      "default": true,
      "label": "t:settings_schema.colors.settings.header__2.label"
    },
    {
      "type": "select",
      "id": "show_view_all",
      "options": [
      {
        "value": "link",
        "label": "t:sections.featured-collection.settings.show_view_all.options__2"
      },
      {
        "value": "button",
        "label": "t:sections.featured-collection.settings.show_view_all.options__3"
      }],
      "default": "link",
      "label": "t:sections.featured-collection.settings.show_view_all.label__1"
    },
    {
      "type": "text",
      "id": "link_label",
      "default": "Link label",
      "label": "t:sections.featured-collection.settings.show_view_all.label__2"
    },
    {
      "type": "url",
      "id": "link",
      "label": "t:sections.all.link_url.label"
    },
    {
      "type": "select",
      "id": "button_transparent",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.button_style.label__2"
        },
        {
          "value": "transparent",
          "label": "t:sections.all.button_style.label__3"
        }
      ],
      "default": "transparent",
      "label": "t:sections.all.button_style.label__1"
    },
    {
      "type": "paragraph",
      "content": "t:settings_schema.colors.settings.header__3.content"
    },
    {
      "type": "checkbox",
      "id": "show_link_secondary",
      "default": false,
      "label": "t:settings_schema.colors.settings.header__3.label"
    },
    {
      "type": "select",
      "id": "show_view_all_secondary",
      "options": [
      {
        "value": "link",
        "label": "t:sections.featured-collection.settings.show_view_all.options__2"
      },
      {
        "value": "button",
        "label": "t:sections.featured-collection.settings.show_view_all.options__3"
      }],
      "default": "link",
      "label": "t:sections.featured-collection.settings.show_view_all.label__1"
    },
    {
      "type": "text",
      "id": "link_label_secondary",
      "default": "Link label",
      "label": "t:sections.featured-collection.settings.show_view_all.label__2"
    },
    {
      "type": "url",
      "id": "link_secondary",
      "label": "t:sections.all.link_url.label"
    },
    {
      "type": "select",
      "id": "button_transparent_secondary",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.button_style.label__2"
        },
        {
          "value": "transparent",
          "label": "t:sections.all.button_style.label__3"
        }
      ],
      "default": "default",
      "label": "t:sections.all.button_style.label__1"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_link_secondary",
      "label": "t:sections.all.secondary_button_color_scheme.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.block_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 10
    }]
  }],
  "presets": [
  {
    "name": "t:sections.image-with-text.presets.name",
    "blocks": [
    {
      "type": "heading"
    },
    {
      "type": "text"
    },
    {
      "type": "link"
    }]
  }]
}
{% endschema %}