<div class="template-404 center">
  <div class="page-width m-auto rte">
    <div class="d-flex f-column a-i-center j-c-center g-gap grid mi-h m-auto m-t m-b" style="--mi-h: 50vh; --m-t: 7rem; --m-b: 7rem;">
      <div class="h1 m-0">{{ 'templates.404.subtext' | t }}</div>
      <h1 class="h2 m-0">{{ 'templates.404.title' | t }}</h1>
      <a href="{{ routes.all_products_collection_url }}" class="button {{ settings.button_style | prepend: 'button--style-' }}">
        <span>{{ 'general.continue_shopping' | t }}</span>
      </a>
    </div>
  </div>
</div>