{%- if section.settings.mobile_background_image or section.settings.desktop_background_image -%}
  <div class="pos-absolute w-100 h-100">
    <div class="d-block w-100 h-100">
      {%- if section.settings.desktop_background_image != blank -%}
        {%- assign image_alt = section.settings.desktop_background_image.alt | default: shop.name | escape -%}
        {{ section.settings.desktop_background_image | image_url: width: section.settings.desktop_background_image.width | image_tag:
          widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
          sizes: "100vw",
          alt: image_alt,
          class: 'd-none d-block-sm w-100 h-100 o-f-cover motion-reduce'
        }}
      {%- endif -%}
      {%- if section.settings.mobile_background_image != blank -%}
        {%- assign image_alt = section.settings.mobile_background_image.alt | default: shop.name | escape -%}
        {{ section.settings.mobile_background_image | image_url: width: section.settings.mobile_background_image.width | image_tag:
          widths: '750',
          sizes: "(min-width: 361px) calc(100vw/2), calc(100vw/3)",
          alt: image_alt,
          class: 'd-block d-none-md w-100 h-100 o-f-cover motion-reduce'
        }}
      {%- endif -%}
    </div>
</div>
{%- endif -%}
<div class="password__content pos-relative d-flex f-column j-c-center w-100 h-100">
  <div class="password__content--inner global-settings-popup center color-{{ section.settings.color_scheme }} gradient">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'heading' -%}
          <h2 class="banner__heading heading-size-default" {{ block.shopify_attributes }}>{{ block.settings.heading | escape }}</h2>
        {%- when 'paragraph' -%}
          <div class="banner__text rte m-b" {{ block.shopify_attributes }} style="--m-b: 1.6rem;">{{ block.settings.text }}</div>
        {%- when 'email_form' -%}
          <div {{ block.shopify_attributes }}>
            {% form 'customer', class: 'newsletter-form' %}
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="newsletter-form__field-wrapper">
                <div class="newsletter-form__field field pos-relative d-flex w-100">
                  <input
                    id="NewsletterForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    class="field__input f-grow left"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="Newsletter-error--{{ section.id }}"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="Newsletter-success--{{ section.id }}"
                    {% endif %}
                    placeholder="{{ 'newsletter.label' | t }}"
                    required
                  >
                  <label class="field__label field__label--fixed pos-absolute e-none" for="NewsletterForm--{{ section.id }}">{{ 'newsletter.label' | t }}</label>
                  <button type="submit" class="newsletter-form__button button button--constant button--transparent pos-absolute top-0 right-0 d-flex b-none f-b-none" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                    {% render 'icon-arrow' %}
                  </button>
                </div>
                {%- if form.errors -%}
                  <small class="newsletter-form__message newsletter-form__message--error form__message text-body l-h-1 d-flex a-i-center" id="Newsletter-error--{{ section.id }}">{% render 'icon-error' %}{{- form.errors.translated_fields.email | capitalize }} {{ form.errors.messages.email }}</small>
                {%- endif -%}
              </div>
              {%- if form.posted_successfully? -%}
                <h3 class="newsletter-form__message newsletter-form__message--success form__message text-body l-h-1 m-0 d-flex a-i-center" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
              {%- endif -%}
            {% endform %}
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-password.name",
  "tag": "section",
  "class": "section section-main-password pos-relative",
  "settings": [
  {
    "type": "image_picker",
    "id": "desktop_background_image",
    "label": "t:sections.all.desktop_background_image.label"
  },
  {
    "type": "image_picker",
    "id": "mobile_background_image",
    "label": "t:sections.all.mobile_background_image.label"
  },
  {
    "type": "color_scheme",
    "id": "color_scheme",
    "label": "t:sections.all.colors.label",
    "default": "background-1"
  }],
  "blocks": [
  {
    "type": "heading",
    "name": "t:sections.main-password.blocks.heading.name",
    "limit": 1,
    "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Opening soon",
      "label": "t:sections.all.heading.label"
    }]
  },
  {
    "type": "paragraph",
    "name": "t:sections.main-password.blocks.paragraph.name",
    "limit": 1,
    "settings": [
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>Be the first to know when we launch.</p>",
      "label": "t:sections.all.paragraph.label"
    }]
  },
  {
    "type": "email_form",
    "name": "t:sections.main-password.blocks.email_form.name",
    "limit": 1
  }],
  "presets": [
  {
    "name": "t:sections.main-password.presets.name",
    "blocks": [
    {
      "type": "heading"
    },
    {
      "type": "paragraph"
    },
    {
      "type": "email_form"
    }]
  }],
  "templates": [
    "password"
  ]
}
{% endschema %}