{%- assign pick_up_availabilities = product_variant.store_availabilities | where: 'pick_up_enabled', true -%}

{%- if pick_up_availabilities.size > 0 -%}
  <pickup-availability-preview class="pickup-availability-preview d-flex a-i-start">
    {%- liquid
      assign closest_location = pick_up_availabilities.first
      if closest_location.available
        render 'icon-tick'
      endif
    -%}
    <div class="pickup-availability-info">
      {%- if closest_location.available -%}
        <p class="caption-large">
          {{ 'products.product.pickup_availability.pick_up_available_at_html' | t: location_name: closest_location.location.name }}
        </p>
        <p class="caption">{{ closest_location.pick_up_time }}</p>
        <side-drawer-opener class="d-block" data-side-drawer="#Drawer-PickupAvailability">
          <button id="ShowPickupAvailabilityDrawer" class="pickup-availability-button link link--text u-link link--style-line t-button c-pointer b-none p-0 left bg-transparent" aria-haspopup="dialog">
            <span class="link-style">
              {%- if pick_up_availabilities.size == 1 -%}
                {{ 'products.product.pickup_availability.view_store_info' | t }}
              {%- else -%}
                {{ 'products.product.pickup_availability.check_other_stores' | t }}
              {%- endif -%}
            </span>
          </button>
        </side-drawer-opener>
      {%- else -%}
        <p class="caption-large">
          {{ 'products.product.pickup_availability.pick_up_unavailable_at_html' | t: location_name: closest_location.location.name }}
        </p>
        {%- if pick_up_availabilities.size > 1 -%}
          <side-drawer-opener class="d-block" data-side-drawer="#Drawer-PickupAvailability">
            <button id="ShowPickupAvailabilityDrawer" class="pickup-availability-button link link--text u-link link--style-line t-button c-pointer b-none p-0 left bg-transparent" aria-haspopup="dialog">
              <span class="link-style">{{ 'products.product.pickup_availability.check_other_stores' | t }}</span>
            </button>
          </side-drawer-opener>
        {%- endif -%}
      {%- endif -%}
    </div>
  </pickup-availability-preview>
  <side-drawer class="drawer pos-fixed top-0 left-0 z-index-8 w-100v h-100 d-flex j-c-end no-js-hidden" id="Drawer-PickupAvailability">
    <div class="side-drawer">
      <div id="Drawer-Overlay-PickupAvailability" class="drawer__overlay pos-fixed top-0 left-0 right-0 bottom-0 c-pointer"></div>
      <div class="drawer__inner gradient d-flex f-column overflow-y overflow-x-h h-100" role="dialog" aria-modal="true" aria-label="Pickup Availability" tabindex="-1">
        <div class="drawer__header d-flex j-c-between a-i-center pos-relative">
          <h2 class="drawer__heading break m-0">{{ product_variant.product.title | escape }}</h2>
          <button class="drawer__close d-block t-button b-none c-pointer f-shrink b-circle button--close" type="button" onclick="this.closest('side-drawer').close()" aria-label="{{ 'accessibility.close' | t }}"><span class="i__close e-none d-block pos-relative color-current w-100 h-100"></span></button>
        </div>
        <div class="drawer__wrapper">
          {%- unless product_variant.product.has_only_default_variant -%}
            <p class="pickup-availability-variant m-0 capitalize subrte">
              {%- for product_option in product_variant.product.options_with_values -%}
                {{ product_option.name | escape }}:&nbsp;
                {%- for value in product_option.values -%}
                  {%- if product_option.selected_value == value -%}
                    <span>{{ value | escape }}</span>
                  {%- endif -%}
                {%- endfor -%}
                {%- unless forloop.last -%},&nbsp;{%- endunless -%}
              {%- endfor -%}
            </p>
          {%- endunless -%}
          <ul class="pickup-availability-list list-unstyled m-t" style="--m-t: 1rem;" role="list" data-store-availability-drawer-content>
            {%- for availability in pick_up_availabilities -%}
              <li class="pickup-availability-list__item b-bottom{% if forloop.first %} b-top{% endif %}">
                <h3 class="h4 m-0">{{ availability.location.name | escape }}</h3>
                <p class="pickup-availability-preview d-flex a-i-start caption-large m-0">
                  {%- if availability.available -%}
                    {% render 'icon-tick' %}
                    {{ 'products.product.pickup_availability.pick_up_available' | t }},
                    {{ availability.pick_up_time | downcase }}
                  {%- endif -%}
                </p>
                {%- assign address = availability.location.address -%}
                <address class="pickup-availability-address caption-large rte">
                  {{ address | format_address }}
                  {%- if address.phone.size > 0 -%}
                    <p>{{ address.phone }}</p>
                  {%- endif -%}
                </address>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      </div>
    </div>
  </side-drawer>
{%- endif -%}
